# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore

# Node.js dependencies:
node_modules/
# Pre compiled
packages/backend/build
packages/backend/node_modules
packages/backend/src
packages/backend/test

packages/react-app/build
packages/react-app/node_modules
packages/react-app/src
packages/react-app/public

packages/mock-server/
packages/dev-proxy/
